.autoContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: goldenrod;
    background-color: whitesmoke;
    width: 520px;
  }
  
  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
  }

  .option:hover {
      background-color: goldenrod;
  }

  .auto-input {
      width: 520px;
  }